@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b4030;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

ul {
    list-style: none;
}

/* Navbar */

.nav-background {
    height: 8vh;
    max-width: 100%;
    background: #bbc6be;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bbc6be, #e0e1e0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bbc6be, #e0e1e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.nav-container {
    height: 8vh;
    width: 33%;
    margin: auto;
}

.nav-container nav ul.nav-links {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.nav-links li a {
    transition: 0.2s ease;
}



.nav-links li a:hover {
    color: steelblue;
    cursor: pointer;
}

.nav-links li a:active {
    text-decoration: underline;
}

/* Main */

#profile-photo {
    height: 240px;
    width: 255px;
    border-radius: 50%;
}

.fullname {
    font-family: 'Daft', sans-serif;
    font-size: 56px;
    font-weight: 400;
    color: #1f512b;
}

.main-container {
    height: 86vh;
    width: 100vw;
    background: #bbc6be;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bbc6be, #e0e1e0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bbc6be, #e0e1e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.main-info {
    height: 50vh;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    justify-content: flex-start;
    gap: 30px;
    margin: auto;
    padding: 50px;
}

.aboutme {
    line-height: 1.7;
}


/* Bottom Photos */

.main-img {
    margin: auto;
    height: 36vh;
    display: flex;
}

.main-img ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 180px;
}

.main-img ul li {
    flex-grow: 1;
}

.main-img img {
    max-height: 100%;
    min-width: 100%;
    display: flex;
}

#kappa {
    height: 219px;
    width: auto;
}

#devil {
    height: 219px;
    width: auto;
}

/* Footer */

footer {
    height: 6vh;
    color: #000;
}

.footer-container  {
    height: 6vh;
    background: #bbc6be;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bbc6be, #e0e1e0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bbc6be, #e0e1e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-text {
    display: flex;
    margin: auto;
    height: 6vh;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.footer-text p {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.right-footer {
    display: flex;
    gap: 40px;
    align-self: center;
    justify-content: center;
}

.right-footer a img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    transition: 0.18s ease-in;
}

.right-footer a img:hover {
    transform: scale(0.95);
}

.left-footer {
    margin-left: 100px;
    font-size: 24px;
}



/*  Colors */
/*  #bbc6be
    #e0e1e0
    #1f512b
    #2b4030 */

@font-face {
    font-family: Daft;
    src: url(./Daft\ Script\ DEMO.otf);
}